<h>CONTACT DETAILS</h>
<P>we are happy to provide our services </P>
<% if  params[:country]=='us' %>
<%= '+1098777399'%>
<% elsif params[:country]=="uk"%>
<%= '+2837940002' %>
<% else %>
<%= '0448796788' %>
<% end %>