	<h1>HELLO SWETHA FROM INDEX!</h1>
<a href="/demo/hello"> Hellopage1</a>
<br/>
<%= link_to("Hellopage2",{:action=>"hello"})%>
<br/>
<%= link_to("Hellopage with parameter",{:action=>"hello",:page=>4,:id=>6})%>
<%= link_to('Roar',"#",:onclick=> "jsRoar('javascript'); return true;") %>


